<h3>Log-in to your account, please.</h3>


<form action="/create" method="post">
    Username 
    <input type="text" name="username" required>  <br><br>
    Password 
    <input type="password" name="password" minlength="4" maxlength="16" required> <br><br>
    <input type="submit" value="Create Account">
</form>