<h2>Create a username and password</h2>

<form action="/landing" method="post">
    Username
    <input type="text" name="username" required><br><br>
    Password
    <input type="password" name="password" minlength="6" maxlength="16" required><br>
    <br><br>
    <input type="submit" name="submit" value="Create Account">
</form>